In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('trinar horas.csv')

In [3]:
df1

       Orderm Hora De Recebimento Processado
0    90910923            10:00:00   15:00:00
1  2039209209            10:00:00   20:00:00

In [8]:
df1['Hora De Recebimento'] = pd.to_datetime(df1['Hora De Recebimento'])
df1['Processado'] = pd.to_datetime(df1['Processado'])

In [9]:
df1['Menos'] = df1['Processado'] - df1['Hora De Recebimento']

In [10]:
df1

       Orderm Hora De Recebimento          Processado    Menos
0    90910923 2019-11-08 10:00:00 2019-11-08 15:00:00 05:00:00
1  2039209209 2019-11-08 10:00:00 2019-11-08 20:00:00 10:00:00

In [11]:
df1['ProcSegundos'] = df1['Menos'].dt.total_seconds().astype(int)

In [12]:
df1['Menos']

0   05:00:00
1   10:00:00
Name: Menos, dtype: timedelta64[ns]

In [13]:
df1['ProcSegundos']

0    18000
1    36000
Name: ProcSegundos, dtype: int64