# Seleção Condicional De Dados em um DataFrame

##### Por: Caio Euzébio

In [1]:
# importando as pandas e numpy

import pandas as pd
import numpy as np

In [2]:
# criando um DataFrame com intervalo de numeros aleatorios utilizando o numpy + pandas.

df = pd.DataFrame(np.random.randn(5,5), index='0 1 2 3 4'.split(), columns=' A B C D E'.split())
df

          A         B         C         D         E
0 -0.019729  0.030627 -0.602585  0.537637  1.028093
1  0.640533 -1.355894 -0.739475  1.249446 -0.128433
2 -0.560715  0.917258  0.415654  0.806890 -0.041287
3 -0.199778 -0.970306  0.583528 -0.761213 -0.267761
4 -0.282399 -1.607285  0.108684  0.548144 -0.397325

In [3]:
# Testando os valores do DataFrame utilizndo metodo de boleanos

test = df > 0

In [5]:
# O mesmo ira retornar "NaN" a todos os valores que nao atendem ao test

df[test]

          A         B         C         D         E
0       NaN  0.030627       NaN  0.537637  1.028093
1  0.640533       NaN       NaN  1.249446       NaN
2       NaN  0.917258  0.415654  0.806890       NaN
3       NaN       NaN  0.583528       NaN       NaN
4       NaN       NaN  0.108684  0.548144       NaN

In [8]:
# Realizando a o mesma seleção condicional basenado-se apenas em uma coluna/series

df[df['D']>0]

          A         B         C         D         E
0 -0.019729  0.030627 -0.602585  0.537637  1.028093
1  0.640533 -1.355894 -0.739475  1.249446 -0.128433
2 -0.560715  0.917258  0.415654  0.806890 -0.041287
4 -0.282399 -1.607285  0.108684  0.548144 -0.397325

In [11]:
# Seleção condional realizando teste em uma coluna e retornando os valores de outra

df[df['D']>0]['A']

0   -0.019729
1    0.640533
2   -0.560715
4   -0.282399
Name: A, dtype: float64

In [12]:
# Realizando o mesmo teste/seleção acima com boleanos

In [16]:
test = df['D']>0
dftest = df[test]
dftest['A']

0   -0.019729
1    0.640533
2   -0.560715
4   -0.282399
Name: A, dtype: float64

In [19]:
# Realizando seleção com multiplas condicionais

df[(df['D']>0) & (df['A']>.6)]

          A         B         C         D         E
1  0.640533 -1.355894 -0.739475  1.249446 -0.128433

In [20]:
# Reajustando/Resetando indice com metodo 'reset_index'

df.reset_index(inplace=True)

In [21]:
df

  index         A         B         C         D         E
0     0 -0.019729  0.030627 -0.602585  0.537637  1.028093
1     1  0.640533 -1.355894 -0.739475  1.249446 -0.128433
2     2 -0.560715  0.917258  0.415654  0.806890 -0.041287
3     3 -0.199778 -0.970306  0.583528 -0.761213 -0.267761
4     4 -0.282399 -1.607285  0.108684  0.548144 -0.397325

In [23]:
# Alterando o indice a partir de uma coluna

df.set_index('A', inplace=True)

In [24]:
df

          index         B         C         D         E
A
-0.019729     0  0.030627 -0.602585  0.537637  1.028093
 0.640533     1 -1.355894 -0.739475  1.249446 -0.128433
-0.560715     2  0.917258  0.415654  0.806890 -0.041287
-0.199778     3 -0.970306  0.583528 -0.761213 -0.267761
-0.282399     4 -1.607285  0.108684  0.548144 -0.397325